* {
    margin: 0%;
}

body {
    background-image: url(../img/inlogpagebackground.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.itemtoevoegen {
    background-color: rgba(0, 42, 106, 0.736);
    height: 50vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

input {
    width: 60%;
    background-color: #ffffff;
    margin: 6px;

}

.addbutton {
    background-color: rgb(8, 53, 112);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    pointer-events: fill;
}