#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

<<<<<<< Updated upstream
#login-box {
=======
#login-box,
#register-box,
#password-box,
#admin-box {
>>>>>>> Stashed changes
    background-color: #FAFBFF;
    height: 420px;
    width: 600px;
    border-radius: 8px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 11;
    display: none;
}

.login-box-header {
    background-color: #EAEFF5;
    height: 15%;
    width: 100%;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

<<<<<<< Updated upstream
.login-form input {
=======
.login-form input,
.register-form input,
.password-form input,
.admin-form input {
>>>>>>> Stashed changes
    width: 250px;
    height: 30px;
    margin: 8px 0 8px 0;
}

<<<<<<< Updated upstream
.login-form input[type=submit] {
=======
.login-form input[type=submit],
.register-form input[type=submit],
.password-form input[type=submit],
.admin-form input[type=submit] {
>>>>>>> Stashed changes
    height: 30px;
    width: 200px;
    background-color: #77ADFF;
    color: white;
    border: none;
}

<<<<<<< Updated upstream
.login-form a {
=======
.login-form a,
.register-form a,
.password-form a,
.admin-form a {
>>>>>>> Stashed changes
    color: #694CDC;
    text-decoration: none;
}

.login-btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}